*,
::before,
::after{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	/* height: 100vh; */
}

.container{
	min-height: 100%;
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 1fr 5fr;
}

.sidebar{
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	background-color: #2563eb;
	color: white;
	display: grid;
	grid-auto-rows: auto;
	align-content: start;
	gap: 50px;
	padding-left: 10px;
}

.item, .dashboard{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

img{
	font-size: 80%;
}

.header{
	grid-row: 1 / 2;
	display: grid;
	grid-template-rows: auto auto;
 	padding: 16px 32px;
  	gap: 16px;
}

.upper{
	display: grid;
	grid-template-columns: auto 1fr auto auto;
  	align-items: center;
  	gap: 20px;
}

input{
	width: 100%;          /* fill grid column */
	max-width: 600px;     /* optional */
	padding: 8px 16px;
	border-radius: 20px;
	border: none;
	background: #e5e7eb;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lower{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lower .left{
	display: flex;
	gap: 20px;
	align-items: center;
}

.lower .right{
	display: flex;
	gap: 16px;
}

button{
	padding: 8px 24px;
  	border-radius: 20px;
	color: white;
	background-color: #2563eb;
}
.content{
	background-color: #e5e7eb;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 3fr 1fr;
}

.projects{
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	padding: 20px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.projects > h3 {
  grid-column: 1 / -1;
}


.cards{
	background-color: white;
	padding: 20px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.icons{
	display: flex;
	justify-content: flex-end;
	gap: 16px;
	margin-top: auto;
}

.wrapper{
	background-color: white;
	border-radius: 10px;
	margin-right: 15px;
	display: grid;
	grid-template-rows: auto auto auto;
}

.article{
	padding: 20px;
}

.trending-list{
	background-color: white;
	margin-right: 15px;
	border-radius: 10px;
}

ul{
	list-style-type: none;
	padding: 15px;
}

.trending-item{
	display: flex;
	margin: 10px;
}